.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 46rem;
    margin-top: 4rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.createdTaskInfos p {
    font-size: 0.875;
    line-height: 1.4;
    color: var(--blue);
}

.completedTaskInfos p {
    font-size: 0.875;
    line-height: 1.4;
    color: var(--purple);
}

.header > div > span {
    width: 1.5625rem;
    height: 1.1875rem;
    margin-left: .5rem;
    background-color: var(--gray-400);
    color: var(--gray-200);
    border-radius: 999px;
    font-size: 0.75rem;
    line-height: 1.4;
    padding: 0.125rem 0.5rem;
}

.emptyTaskListContainer {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 1.5rem;
    color: var(--gray-300);
    border-radius: 8px;
    border-top: 1px solid var(--gray-400);
}

.emptyTaskListContainer > p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: bold;
    margin-top: 1rem;
}
.emptyTaskListContainer > span {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: normal;
}


